body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
main {
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
}

.rating span {
  margin: 0.1rem;
}
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}
.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: contain;
}

.nav-link {
  color: rgb(255, 255, 255);
}
.checkout-steps {
  color: black;
}
.nav-link:hover {
  color: #2c3e5d;
}
.myBrandName {
  color: white;
  font-weight: bold;
  font-size: x-large;
}

.myBadge {
}
